<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.notes.release.agent.plist</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/bryan/Code/Personal/liby/scripts/git-sync</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/bryan/Code/Personal/liby/</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
        <key>Minute</key>
        <integer>20</integer>
        </dict>
        <dict>
        <key>Minute</key>
        <integer>50</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/dev/null</string>
    <key>StandardErrorPath</key>
    <string>/dev/null</string>
</dict>
</plist>